---
title: "Nonduality of Practice and Verification"
speaker: "kokyo-henkel"
talk_date: "04/20/2009"
aliases:
  - "/teachings/dharma-talks/nonduality-practice-and-verification"
centers:
  - "Tassajara"
video_url: "https://content.jwplatform.com/players/qqAxZ0yC-cMfXcsXK.html"
description: "4/20/2009, Kokyo Henkel dharma talk at Tassajara."
---
04/20/2009

4/20/2009, Kokyo Henkel dharma talk at Tassajara.

Hosted at:

[Tassajara](/locations/tassajara)

Featuring:

[Kokyo Henkel](/teachers/kokyo-henkel)
