---
title: "Nonduality of Practice and Verification"
speaker: ""
talk_date: "04/20/2009"
centers:
  - "Tassajara"
aliases:
  - "/teachings/dharma-talks/nonduality-practice-and-verification"
---
04/20/2009

4/20/2009, Kokyo Henkel dharma talk at Tassajara.

Hosted at:

[Tassajara](/locations/tassajara)

Featuring:

[Kokyo Henkel](/teachers/kokyo-henkel)
